[project]
	description = Implementation of Reliable UDP
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Niall Douglas (ned14)
[access "refs/for/refs/*"]
	read = group user/Niall Douglas (ned14)
	push = group user/Niall Douglas (ned14)
	label-Code-Review = -2..+2 group user/Niall Douglas (ned14)
	label-Verified = -1..+1 group user/Niall Douglas (ned14)
	rebase = group user/Niall Douglas (ned14)
	removeReviewer = group user/Niall Douglas (ned14)
	submit = group user/Niall Douglas (ned14)
[access "refs/heads/*"]
	read = group user/Niall Douglas (ned14)
	create = group user/Niall Douglas (ned14)
	push = +force group user/Niall Douglas (ned14)
	pushMerge = group user/Niall Douglas (ned14)
[access "refs/tags/*"]
	push = +force group user/Niall Douglas (ned14)
	pushTag = group user/Niall Douglas (ned14)
	pushSignedTag = group user/Niall Douglas (ned14)
